.App {
  text-align: center;
}


.pg1{
    background-color: red;
    color:white;
    font-size: 2em;
}

.pg2{
    background-color: yellow;
    color:black;
    font-size: 2em;
}

.pg3{
    background-color: green;
    color:white;
    font-size: 2em;
}
